body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/dark-background-golden-detail.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.flashes h4 {
    line-height: 2;
}

h3 {
    margin: 0;
    padding: 50px 0 25px 0;
    cursor: default;
}

.btn-small {
    margin:5px;
    float: right;
}

.collapsible-header {
    line-height: 20px;
    display: block;
}

.collapsible, .collapsible-body, .collapsible-header {
    border-color: yellow
}

/* CSS fix for the range field icon by https://github.com/Dogfalo/materialize/issues/5877 */
.input-field .prefix ~ .range-field {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.select-dropdown {
    color: white;
}

.select-wrapper svg.caret path:first-child {
    fill: white;
}

select.validate {
    display: none !important;
}

.card-panel p {
    margin-top: 2rem;
}

.row p {
    margin-left: 3rem;
}

.card-content p {
    line-height: 2rem;
}

.datepicker-controls input {
    color: black;
}

@media only screen and (min-width: 993px) {
nav .brand-logo {
    padding-left: 16px;
}}