{% extends "base.html" %}
{% block content %}

    <h3 class="white-text center-align">Edit Review</h3>

    <div class="row card-panel grey darken-4">
        <form class="col s12" method="POST" action="{{ url_for('edit_review', review_id=review._id) }}">
            <!-- game title selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-gamepad prefix white-text"></i>
                    <select id="game_title" name="game_title" class="validate" required>
                        <option value="" disabled>Choose Game</option>
                        {% for game in games %}
                            {% if game.game_title == review.game_title %}
                                <option value="{{ game.game_title }}" selected>{{ game.game_title }}</option>
                            {% else %}
                                <option value="{{ game.game_title }}">{{ game.game_title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="game_title">Game Title</label>
                </div>
            </div>
            <!-- review headline -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-heading prefix white-text"></i>
                    <input id="headline" name="headline" minlength="5" maxlength="50" 
                    value="{{ review.headline }}" type="text" class="white-text validate" required>
                    <label for="headline">Headline</label>
                </div>
            </div>
            <!-- review description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix white-text"></i>
                    <textarea id="review" name="review" minlength="5" 
                    maxlength="200" class="materialize-textarea white-text validate" required>
                    {{- review.review -}}
                    </textarea>
                    <label for="review">Review</label>
                </div>
            </div>
            <div class="row">
                <!-- rating range -->
                <div class="input-field col s6">
                    <i class="fas fa-star prefix white-text"></i>
                    <p class="range-field white-text">
                    <label for="rating">Rating</label>
                        <input id="rating" name="rating" min="0" max="100" type="range" 
                        value="{{ review.rating }}" required>
                    </p>
                </div>
                <!-- date picker -->
                <div class="input-field col s6">
                    <i class="fas fa-calendar-alt prefix white-text"></i>
                    <input id="date" name="date" type="text" 
                    value="{{ review.date }}" class="white-text datepicker validate" required>
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                <!-- cancel button -->
                    <a href="{{ url_for('get_game_reviews') }}" class="btn-large red">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                <!-- submit button -->
                    <button type="submit" class="btn-large grey darken-3">
                        Edit Review <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}