{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-4 center-align">Game Reviews</h3>

    <ul class="collapsible">
        {% for game in games %}
        <li>
            <div class="collapsible-header white-text teal darken-4">
                <i class="fas fa-caret-down"></i>
                {{ game.game_title }}<br>
                {{ game.age_rating }}<br>
                {{ game.release_date }}<br>
                {{ game.available_platforms }}
            </div>
            {% for review in reviews %}
            {% if game.game_title == review.game_title %}
            <div class="collapsible-body">
            <h5>{{ review.headline }}</h5><br>
            <strong>User: {{ review.created_by }}</strong><br>
            <p>{{ review.review }}</p><br>
            {{ review.rating }}/100<br>
            {{ review.date }}
            </div>
            {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

{% endblock %}